*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --color-primary: hsl(217, 19%, 35%);
  --color-secondary: hsl(214, 17%, 51%);
  --color-tertiary: hsl(212, 23%, 69%);
  --color-quaternary: hsl(210, 46%, 95%); }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: var(--color-quaternary); }

.btn {
  outline: none;
  border: none;
  cursor: pointer; }

.container {
  width: 80rem;
  max-width: 80rem;
  padding: 2em 5em; }
  @media only screen and (max-width: 35em) {
    .container {
      padding: 2em;
      margin-top: auto;
      margin-bottom: auto; } }

.article-preview {
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 35em) {
    .article-preview {
      flex-direction: column; } }
  .article-preview__image-container {
    flex: 0 0 40%;
    background-image: url(../img/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    background-position: center; }
    @media only screen and (max-width: 35em) {
      .article-preview__image-container {
        flex: none;
        height: 20rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.8rem;
        background-position: center; } }
  .article-preview__content {
    padding: 2.5em 2.5em 0 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: visible; }
  .article-preview__text {
    color: var(--color-secondary);
    font-size: 1.3rem;
    margin-bottom: 2rem; }
  .article-preview__author {
    display: flex;
    align-items: center;
    padding: 0 2.5em 1.5em 2.5em;
    position: relative; }
  .article-preview__author-image {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .article-preview__author-text-container {
    margin-right: auto; }
  .article-preview__date {
    font-size: 1.1rem;
    color: var(--color-tertiary); }
  .article-preview__share {
    background-color: var(--color-quaternary);
    position: relative;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 35em) {
      .article-preview__share {
        position: static; } }
  .article-preview__share-secondary {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-quaternary);
    display: flex;
    justify-content: center;
    align-items: center; }
  .article-preview__share-icon {
    fill: var(--color-secondary);
    width: 1.4rem;
    height: 1.4rem;
    transition: opacity 0.3s; }
  .article-preview__share-icon-secondary {
    fill: var(--color-secondary);
    width: 1.5rem;
    height: 1.5rem; }
  .article-preview__social-bubble {
    position: absolute;
    bottom: 5.5rem;
    left: -8.5rem;
    width: 20rem;
    padding: 1em 2em;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-primary);
    border-radius: 0.7rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 35em) {
      .article-preview__social-bubble {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0; } }
    .article-preview__social-bubble::after {
      content: "";
      position: absolute;
      content: "";
      top: 100%;
      left: calc(50% - 1rem);
      width: 0;
      border-top: 1rem solid var(--color-primary);
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent; }
      @media only screen and (max-width: 35em) {
        .article-preview__social-bubble::after {
          content: none; } }
  .article-preview__social-text {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.1rem;
    opacity: 50%;
    font-weight: 300; }
  .article-preview__social-icon {
    height: 2rem;
    width: 2rem;
    fill: #fff;
    display: flex;
    transition: opacity 0.3s; }
  .article-preview__social-icon-link {
    display: inline-block;
    text-decoration: none; }
    .article-preview__social-icon-link:hover .article-preview__social-icon {
      opacity: 0.7; }

.attribution {
  text-align: center; }
  .attribution a {
    color: var(--color-primary);
    text-decoration: none;
    font-style: italic; }

.heading-secondary {
  color: var(--color-primary);
  font-size: 1.9rem; }

.heading-quinary {
  font-size: 1.2rem;
  color: var(--color-primary);
  font-weight: 800; }

.btn-share {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  .btn-share:hover .article-preview__share-icon {
    opacity: 0.7; }

.secondary {
  width: 2rem;
  height: 2rem; }

.u-mb-sm {
  margin-bottom: 1.5rem; }

.u-mr-m {
  margin-right: 5rem; }
  @media only screen and (max-width: 29.25em) {
    .u-mr-m {
      margin-right: 0.5rem; } }

.toggleFlex {
  display: flex; }

.btn-positioned {
  position: relative;
  z-index: 100;
  right: 2rem;
  top: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--color-secondary); }
  @media only screen and (max-width: 29.25em) {
    .btn-positioned {
      right: -1rem; } }

.white {
  fill: #fff; }

.mobile-bubble {
  justify-content: flex-start; }
