.heading-secondary {
  color: var(--color-primary);
  font-size: 1.9rem;
}

.heading-quinary {
  font-size: 1.2rem;
  color: var(--color-primary);
  font-weight: 800;
}

.btn-share {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover .article-preview__share-icon {
    opacity: 0.7;
  }
}

.secondary {
  width: 2rem;
  height: 2rem;
}
